@import "variables";

*, h1, h2, h3, h4, h5, h6, p, ol, li, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.linebackground {
    width: 100%;
    height: 20000px;
    position: fixed;
    z-index: -1;
    &_flex {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        &-line {
            height: 100%;
            width: 1px;
            background-color: rgb(235, 235, 235);
        }
    }
}

#container {
    width: 85%;
    margin: auto;
}

.info {
    // background-color: white;
    border-radius: 30px;
    margin-top: 6em;
    // margin-bottom: 6em;
    color: #373737;
    &_head {
        text-align: center;
        & h3 {
            font-size: 1.5em;
        }
    }
    &_flex {
        &-box {
            margin-top: 2em;
            box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
            background-color: white;
            padding: 2em;
            border-radius: 30px;
            & h3 {
                font-size: 1.5em;
            }
            & h4 {
                margin-top: 1.25em;
                font-size: 1.5em;
            }
            & p {
                margin-top: .25em;
            }
        }
    }
}

a {
    color: white;
}

body {
    background-color: white;
    font-family: "Poppins";
}

.dash {
    margin: 0 2px !important;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    &_inner {
        display: inline-block;
        border-radius: 30px;
        padding: 3em;
        background-image: linear-gradient(
            to bottom right, $yellow, $red
        );
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
        & h1 {
            color: white;
            font-size: 3.5em;
            line-height: 1.2em;
        }
    }
}

.color {
    width: 100%;
    height: 2px;
    &_yellow {
        background-color: $yellow;
    }
    &_orange {
        background-color: $orange;
    }
    &_red {
        background-color: $red;
    }
}

.work {
    color: white;
    margin-top: 50px;
    &_image {
        width: 100%;
        border-radius: 30px;
    }
    &_gallery {
        display: block;
        &-link {
            width: 100%;
            &-left {

            }
            &-right {

            }
        }
        &-box {
            border-radius: 30px;
            position: relative;
            background-color: white;
            box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
            margin-top: 2em;
            padding: 20px;
            &-line {
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
            }
            &-image {
                width: 100%;
                // padding-top: 70%;
                display: block;
                border-radius: 30px;
                margin: auto;
                &-0 {
                    // background-color: #3FD9B8;
                }
                &-1 {
                    // background-color: #C62E5F;
                }
                &-2 {
                    // background-color: black;
                }
                &-3 {
                    // background-image: linear-gradient(
                    //     to bottom right, $yellow, $red
                    // );
                }
            }
            &-text {
                color: #373737;
                bottom: 0;
                padding: 1em 0 .5em 1em;
                & h6 {
                    font-weight: 300;
                }
                & p {
                    margin-top: 20px;
                    color: #A8A8A8;
                }
            }
            & .number {
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 12px;
            }
            & .num-1 {
                color: $yellow;
            }
            & .num-2 {
                color: $orange;
            }
            & .num-3 {
                color: $red;
            }
        }
    }
    &_box {
        &-0 {
            // margin-right: 1%;
            // background-color: #3FD9B8;
            & .work_gallery-box-line {
                background-color: $yellow;
            }
        }
        &-1 {
            // margin-left: 1%;
            // background-color: #C62E5F;
            & .work_gallery-box-line {
                background-color: $orange;
            }
        }
        &-2 {
            // margin-right: 1%;
            // background-color: black;
            & .work_gallery-box-line {
                background-color: $red;
            }
        }
        &-3 {
            // margin-left: 1%;
            // background-image:
            // linear-gradient(
            //     to bottom right, $yellow, $red
            // );
            & p {
                color: white;
            }
        }
    }
}

.aboutme {
    width: 100%;
    padding: 30px 0;
    background-image: linear-gradient(
        to bottom right, $yellow, $red
    );
    color: white;
    border-radius: 30px;
    margin-top: 50px;
    text-align: center;
    &_text {
        padding: 1em;
        padding-top: 0;
        margin: auto;
        &-line {
            margin: auto;
            width: 200px;
            height: 2px;
            background-image:
            linear-gradient(
                to bottom right, $yellow, $red
            );
            margin-top: 15px;
            margin-bottom: 15px;
        }
        & p {
            line-height: 30px;
        }
    }
    & .contactme {
        padding: 12px 20px;
        border-radius: 10px;
        border: none;
        background-color: white;
        color: #373737;
        font-weight: 700;
        font-size: 11px;
        letter-spacing: 1px;
    }
}

footer {
    background-color: white;
    position: relative;
    border-radius: 30px 30px 0 0;
    margin-top: 50px;
    color: rgb(59, 59, 59);
    // padding: 50px 60px 0 60px;
    & h1 {
        text-align: center;
        display: block;
        font-size: 3.5em;
        line-height: 1em;
    }
}

.footer {
    &_text {
        // margin-top: 30px;
        padding: 20px;
        text-align: center;
        color: rgb(218, 218, 218);
    }
}

.social {
    text-align: center;
    margin-top: 1em;
    &_buttons {
        margin-top: 5px;
        list-style-type: none;
        & li {
            height: 30px;
            width: 30px;
            display: inline-block;
            & img {
                fill: $yellow;
                height: 100%;
                width: 100%;
            }
        }
        &-first {
            // background-color: $yellow;
        }
        &-mid {
            margin: 0 5px;
            // background-color: $orange;
        }
        &-last {
            // background-color: $red;
        }
    }
}

.ks {
    background: -webkit-linear-gradient(-70deg, $yellow, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divider {
    width: 80%;
    height: 3px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(162, 181, 194, 0.25);
    border-radius: 100px;
}

.healco {
    & .work {
        margin-top: 0;
        &_gallery {
            &-box {
                padding: 0;
            }
        }
    }
    & .info.infomargin {
        margin-top: 0;
    }
}

@media only screen and (min-width: 662px) {
    .info {
        &_head {
            & h3 {
                width: 549px;
                margin: auto;
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    .work {
        &_gallery {
            display: flex;
            &-link {
                &-left {
                    margin-right: 1em;
                }
                &-right {
                    margin-left: 1em;
                }
            }
        }
    }
    .info {
        &_head {
            h3 {
                width: 549px;
                margin: auto;
            }
        }
        &_flex {
            display: flex;
            &-box {
                margin-top: 0;
                & h4 {
                    margin-top: 1em;
                }
            }
        }
        &_box {
            &-1 {
                margin-left: 2em;
                margin-right: 2em;
            }
        }
    }
    .healco {
        & .work {
            &_gallery {
                &-box {
                    padding: 0;
                }
            }
        }
        & .info {
            &_flex {
                &-box {
                    width: 100%;
                }
            }
        }
    }
    .divider {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}