*, h1, h2, h3, h4, h5, h6, p, ol, li, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.fixednav {
  width: 60px;
  height: 100px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
          box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
  position: fixed;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.goback_healco {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrowbox {
  position: absolute;
  right: 1em;
  height: 50px;
  width: 50px;
  top: 50%;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
  border-radius: 15px;
}

.arrowbox_healco {
  background-color: #3FD9B8;
}

.arrowbox_rugsusa {
  background-color: #E3376F;
}

.arrowbox_fuyu {
  background-color: black;
}

.arrowbox_datadove {
  background-color: #1c1c24;
}

.arrowsvg {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.linebackground {
  width: 100%;
  height: 20000px;
  position: fixed;
  z-index: -1;
}

.linebackground_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.linebackground_flex-line {
  height: 100%;
  width: 1px;
  background-color: #ebebeb;
}

#container {
  width: 85%;
  margin: auto;
}

.info {
  border-radius: 30px;
  margin-top: 6em;
  color: #373737;
}

.info_head {
  text-align: center;
}

.info_head h3 {
  font-size: 1.5em;
}

.info_flex-box {
  margin-top: 2em;
  -webkit-box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
          box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
  background-color: white;
  padding: 2em;
  border-radius: 30px;
}

.info_flex-box h3 {
  font-size: 1.5em;
}

.info_flex-box h4 {
  margin-top: 1.25em;
  font-size: 1.5em;
}

.info_flex-box p {
  margin-top: .25em;
}

a {
  color: white;
}

body {
  background-color: white;
  font-family: "Poppins";
}

.hello {
  margin: auto;
  margin-top: 1em;
  font-size: 1.15em;
  font-family: "Quicksand";
  color: dimgray;
}

.dash {
  margin: 0 2px !important;
}

.hero {
  width: 100%;
  position: relative;
  text-align: center;
}

.hero_inner {
  word-wrap: break-word;
  display: inline-block;
  border-radius: 30px;
  width: 100%;
  padding-top: 8em;
  padding-bottom: 8em;
}

.hero_inner h1 {
  color: black;
  font-size: 2.17em;
  line-height: 1.1em;
  font-weight: bolder;
}

.hero_inner h1 .design {
  color: #F9AF1F;
}

.hero_inner h1 .develop {
  color: #F96D1F;
}

.hero_inner h1 .uxui {
  color: #F91F60;
}

.fl_remove {
  display: none;
}

.color {
  width: 100%;
  height: 2px;
}

.color_yellow {
  background-color: #F9AF1F;
}

.color_orange {
  background-color: #F96D1F;
}

.color_red {
  background-color: #F91F60;
}

.color_healco-prim {
  background-color: #3FD9B8;
}

.color_healco-blue {
  background-color: #0C89F9;
}

.color_rugsusa-red {
  background-color: #E3376F;
}

.color_rugsusa-second {
  background-color: #80193A;
}

.work {
  color: white;
  margin-top: 50px;
}

.work_image {
  width: 100%;
  border-radius: 30px;
}

.work_gallery {
  display: block;
}

.work_gallery-link {
  width: 100%;
}

.work_gallery-box {
  -webkit-animation: bounceOut .3s;
          animation: bounceOut .3s;
  border-radius: 30px;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
          box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
  margin-top: 2em;
  padding: 20px;
}

.work_gallery-box:hover {
  -webkit-animation: bounceIn .3s;
          animation: bounceIn .3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.work_gallery-box-line {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}

.work_gallery-box-image {
  width: 100%;
  display: block;
  border-radius: 30px;
  margin: auto;
}

.work_gallery-box-text {
  position: relative;
  color: #373737;
  bottom: 0;
  padding: 1em 0 .5em 1em;
}

.work_gallery-box-text h3 {
  font-size: 1.3em;
}

.work_gallery-box-text h6 {
  font-weight: 300;
  font-size: .8em;
}

.work_gallery-box-text p {
  margin-top: 20px;
  color: #A8A8A8;
}

.work_gallery-box .number {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
}

.work_gallery-box .num-1 {
  color: #F9AF1F;
}

.work_gallery-box .num-2 {
  color: #F96D1F;
}

.work_gallery-box .num-3 {
  color: #F91F60;
}

.work_box-0 .work_gallery-box-line {
  background-color: #F9AF1F;
}

.work_box-1 .work_gallery-box-line {
  background-color: #F96D1F;
}

.work_box-2 .work_gallery-box-line {
  background-color: #F91F60;
}

.work_box-3 p {
  color: white;
}

.aboutme {
  -webkit-box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
          box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
  width: 100%;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F9AF1F), to(#F91F60));
  background-image: linear-gradient(to bottom right, #F9AF1F, #F91F60);
  color: white;
  border-radius: 30px;
  margin-top: 50px;
  text-align: center;
}

.aboutme_text {
  padding: 1em;
  padding-top: 0;
  margin: auto;
}

.aboutme_text-line {
  margin: auto;
  width: 200px;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F9AF1F), to(#F91F60));
  background-image: linear-gradient(to bottom right, #F9AF1F, #F91F60);
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutme_text p {
  line-height: 30px;
}

.aboutme .contactme {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-weight: 700;
  font-size: .8em;
  font-family: "Quicksand";
  -webkit-transition: .5s;
  transition: .5s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ddd));
  background-image: linear-gradient(to bottom, white, #ddd);
  border: 1px solid white;
  cursor: pointer;
}

.aboutme .contactme:hover {
  -webkit-transform: translate(0, -5px) scale(1.03);
          transform: translate(0, -5px) scale(1.03);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 5px 10px rgba(139, 56, 0, 0.4);
          box-shadow: 0 5px 10px rgba(139, 56, 0, 0.4);
}

.test {
  background: -webkit-linear-gradient(-70deg, #F9AF1F, #F91F60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  position: relative;
  margin-top: 75px;
  border-radius: 30px 30px 0 0;
  color: #3b3b3b;
}

footer h1 {
  text-align: center;
  display: block;
  font-size: 3.5em;
  line-height: 1em;
}

.footer_text {
  padding: 20px;
  text-align: center;
  color: #dadada;
}

.social {
  text-align: center;
  margin-top: 1em;
}

.social_buttons {
  margin-top: 5px;
  list-style-type: none;
}

.social_buttons li {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.social_buttons li img {
  fill: #F9AF1F;
  height: 100%;
  width: 100%;
}

.social_buttons-mid {
  margin: 0 5px;
}

.ks {
  background: -webkit-linear-gradient(-70deg, #F9AF1F, #F91F60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  width: 80%;
  height: 3px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgba(162, 181, 194, 0.25);
  border-radius: 100px;
}

.healco .hero {
  width: 100%;
}

.healco .hero h1 {
  color: white;
}

.healco .hero_inner {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#56F3D2), to(#07B08C));
  background-image: linear-gradient(to bottom right, #56F3D2, #07B08C);
  border-radius: 0 0 30px 30px;
  padding: 6em 0;
}

.healco .subphrase {
  width: 75%;
  color: white;
  margin: auto;
  font-size: 1em;
  margin-top: 1em;
}

.healco .work {
  margin-top: 0;
}

.healco .work_graphics img {
  width: 100%;
  -webkit-box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
          box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
  border-radius: 30px;
  margin-top: .5em;
  margin-bottom: .5em;
}

.healco .work_graphics img:nth-child(1) {
  margin-top: 1.5em;
}

.healco .work_box-0 {
  display: none;
}

.healco .work_box-1 {
  display: none;
}

.healco .work_box-2 {
  display: none;
}

.healco .work_gallery {
  display: none;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  height: 500px;
}

.healco .work_gallery-box {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  margin: unset;
  padding: 0;
  width: 100%;
  padding-top: 100%;
}

.healco .info {
  margin-top: 4em;
}

.healco .info_flex-box p {
  margin-top: 2em;
}

.healco .info_flex-box p.solution {
  margin-top: unset;
}

.healco .info.infomargin {
  margin-top: 0;
}

.display {
  width: 100%;
  border-radius: 30px;
  margin-top: .5em;
  margin-bottom: .5m;
}

.display-0 {
  margin-top: 2em;
}

.rugsusa .hero_inner {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E3376F), to(#80193A));
  background-image: linear-gradient(to bottom right, #E3376F, #80193A);
}

.rugsusa .hero_inner h1 {
  font-size: 3.155em;
}

.rugsusa .work {
  margin-top: 0;
}

.rugsusa .work_gallery-box {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 0;
}

.rugsusa .info.infomargin {
  margin-top: 0;
}

.prob_sol {
  margin-top: 3em;
}

.prob_solu {
  font-weight: bold;
}

.wg_top {
  margin-bottom: 2em;
}

.slightbold {
  font-weight: 600;
}

.problem, .solution, .overview {
  padding: 1em;
  border-radius: 30px;
  background-color: white;
}

@media only screen and (min-width: 500px) {
  .hero_inner h1 {
    font-size: 3em;
    line-height: 1.1em;
  }
}

@media only screen and (min-width: 662px) {
  .info_head h3 {
    margin: auto;
  }
}

@media only screen and (min-width: 780px) {
  .healco .work {
    margin-top: 0;
  }
  .healco .work_graphics img {
    width: 49%;
  }
  .healco .work_graphics-left {
    margin-right: 1%;
  }
  .healco .work_graphics-right {
    margin-left: 1%;
  }
  .healco .work_box-mobile {
    display: none;
  }
  .healco .work_box-0 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 7;
    background-color: blue;
    background-image: url("../images/landing2.png");
    background-size: cover;
    display: block;
  }
  .healco .work_box-1 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    background-color: coral;
    background-image: url("../images/flow.png");
    background-size: cover;
    display: block;
  }
  .healco .work_box-2 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 7;
    background-color: black;
    background-image: url("../images/dashboard.png");
    background-size: cover;
    display: block;
  }
  .healco .work_gallery {
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%;
    height: 500px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24% 24% 2em 24% 24%;
        grid-template-columns: 24% 24% 2em 24% 24%;
    -ms-grid-rows: 24%  24% 2em 24% 24% auto;
        grid-template-rows: 24%  24% 2em 24% 24% auto;
  }
  .healco .work_gallery-box {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    margin: unset;
    padding: 0;
  }
}

@media only screen and (min-width: 850px) {
  .fl_remove {
    display: unset;
  }
  .hello {
    font-size: 1.25em;
  }
  .hero_inner h1 {
    font-size: 5em;
    line-height: 1.1em;
  }
  .work_gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work_gallery-link-left {
    margin-right: 1em;
  }
  .work_gallery-link-right {
    margin-left: 1em;
  }
  .work_gallery-box-left {
    margin-right: 1em;
  }
  .work_gallery-box-right {
    margin-left: 1em;
  }
  .info_head h3 {
    margin: auto;
  }
  .info_head .ihelp {
    width: 90%;
    font-size: 1.75em;
  }
  .info_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .info_flex-box {
    width: 33%;
    margin-top: 0;
  }
  .info_flex-box h4 {
    margin-top: 1em;
  }
  .info_box-1 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .healco .subphrase {
    font-size: 1.75em;
  }
  .healco .work_gallery-box {
    padding: 0;
  }
  .healco .info_flex-box {
    width: 100%;
  }
  .divider {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}

@media only screen and (min-width: 1092px) {
  .hello {
    width: 915px;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1132px) {
  .info_head .ihelp {
    width: 854px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    width: 1007px;
    margin: auto;
  }
  .info_head .ihelp {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1500px) {
  #container {
    width: 1262px;
  }
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@keyframes bounceIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@-webkit-keyframes bounceOut {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  0% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@keyframes bounceOut {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  0% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}
/*# sourceMappingURL=main.css.map */