@import "variables";

*, h1, h2, h3, h4, h5, h6, p, ol, li, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.fixednav {
    width: 60px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 10;
}

.goback {
    &_healco {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.arrowbox {
    position: absolute;
    right: 1em;
    height: 50px;
    width: 50px;
    top: 50%;
    transform: translate(0, -40%);
    border-radius: 15px;
    &_healco {
        background-color: $healco-prim;
    }
    &_rugsusa {
        background-color: $rugs-red;
    }
    &_fuyu {
        background-color: black;
    }
    &_datadove {
        background-color: #1c1c24;
    }
}

.arrowsvg {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.linebackground {
    width: 100%;
    height: 20000px;
    position: fixed;
    z-index: -1;
    &_flex {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        &-line {
            height: 100%;
            width: 1px;
            background-color: rgb(235, 235, 235);
        }
    }
}

#container {
    width: 85%;
    margin: auto;
}

.info {
    // background-color: white;
    border-radius: 30px;
    margin-top: 6em;
    // margin-bottom: 6em;
    color: #373737;
    &_head {
        text-align: center;
        & h3 {
            font-size: 1.5em;
        }
    }
    &_flex {
        &-box {
            margin-top: 2em;
            box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
            background-color: white;
            padding: 2em;
            border-radius: 30px;
            & h3 {
                font-size: 1.5em;
            }
            & h4 {
                margin-top: 1.25em;
                font-size: 1.5em;
            }
            & p {
                margin-top: .25em;
            }
        }
    }
}

a {
    color: white;
}

body {
    background-color: white;
    font-family: "Poppins";
}

.hello {
    margin: auto;
    margin-top: 1em;
    font-size: 1.15em;
    font-family: "Quicksand";
    color: dimgray;
}

.dash {
    margin: 0 2px !important;
}

.hero {
    width: 100%;
    position: relative;
    text-align: center;
    &_inner {
        word-wrap: break-word;
        display: inline-block;
        border-radius: 30px;
        width: 100%;
        padding-top: 8em;
        padding-bottom: 8em;
        & h1 {
            color: black;
            font-size: 2.17em;
            line-height: 1.1em;
            font-weight: bolder;
            & .design {
                color: $yellow;
            }
            & .develop {
                color: $orange;
            }
            & .uxui {
                color: $red;
            }
        }
    }
}

.fl_remove {
    display: none;
}

.color {
    width: 100%;
    height: 2px;
    &_yellow {
        background-color: $yellow;
    }
    &_orange {
        background-color: $orange;
    }
    &_red {
        background-color: $red;
    }
    &_healco-prim {
        background-color: $healco-prim;
    }
    &_healco-blue {
        background-color: $healco-blue;
    }
    &_rugsusa-red {
        background-color: $rugs-red;
    }
    &_rugsusa-second {
        background-color: $rugs-second;
    }
}

.work {
    color: white;
    margin-top: 50px;
    &_image {
        width: 100%;
        border-radius: 30px;
    }
    &_gallery {
        display: block;
        &-link {
            width: 100%;
            &-left {

            }
            &-right {

            }
        }
        &-box {
            animation: bounceOut .3s;
            &:hover {
                animation: bounceIn .3s;
                animation-timing-function: ease-in-out;
                transform-origin: center center;
                animation-fill-mode: forwards;
            }
            border-radius: 30px;
            position: relative;
            background-color: white;
            box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
            margin-top: 2em;
            padding: 20px;
            &-line {
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
            }
            &-image {
                width: 100%;
                // padding-top: 70%;
                display: block;
                border-radius: 30px;
                margin: auto;
                &-0 {
                    // background-color: #3FD9B8;
                }
                &-1 {
                    // background-color: #C62E5F;
                }
                &-2 {
                    // background-color: black;
                }
                &-3 {
                    // background-image: linear-gradient(
                    //     to bottom right, $yellow, $red
                    // );
                }
            }
            &-text {
                position: relative;
                color: #373737;
                bottom: 0;
                padding: 1em 0 .5em 1em;
                & h3 {
                    font-size: 1.3em;
                }
                & h6 {
                    font-weight: 300;
                    font-size: .8em;
                }
                & p {
                    margin-top: 20px;
                    color: #A8A8A8;
                }
            }
            & .number {
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 12px;
            }
            & .num-1 {
                color: $yellow;
            }
            & .num-2 {
                color: $orange;
            }
            & .num-3 {
                color: $red;
            }
        }
    }
    &_box {
        &-0 {
            // margin-right: 1%;
            // background-color: #3FD9B8;
            & .work_gallery-box-line {
                background-color: $yellow;
            }
        }
        &-1 {
            // margin-left: 1%;
            // background-color: #C62E5F;
            & .work_gallery-box-line {
                background-color: $orange;
            }
        }
        &-2 {
            // margin-right: 1%;
            // background-color: black;
            & .work_gallery-box-line {
                background-color: $red;
            }
        }
        &-3 {
            // margin-left: 1%;
            // background-image:
            // linear-gradient(
            //     to bottom right, $yellow, $red
            // );
            & p {
                color: white;
            }
        }
    }
}

.aboutme {
    box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
    width: 100%;
    padding: 30px 0;
    background-image: linear-gradient(
        to bottom right, $yellow, $red
    );
    color: white;
    border-radius: 30px;
    margin-top: 50px;
    text-align: center;
    &_text {
        padding: 1em;
        padding-top: 0;
        margin: auto;
        &-line {
            margin: auto;
            width: 200px;
            height: 2px;
            background-image:
            linear-gradient(
                to bottom right, $yellow, $red
            );
            margin-top: 15px;
            margin-bottom: 15px;
        }
        & p {
            line-height: 30px;
        }
    }
    & .contactme {
        padding: 12px 20px;
        border-radius: 10px;
        border: none;
        background-color: white;
        // box-shadow: 0 6px 15px rgba(119, 48, 0, 0.4);
        // color: #373737;
        // color: $red;
        font-weight: 700;
        font-size: .8em;
        font-family: "Quicksand";
        transition: .5s;
        background-image: linear-gradient(
            to bottom, white, #ddd
        );
        border: 1px solid white;
        cursor: pointer;
        &:hover {
            transform: translate(0, -5px) scale(1.03);
            transition: .5s;
            box-shadow: 0 5px 10px rgba(139, 56, 0, 0.4);
        }
    }
}

.test {
    background: -webkit-linear-gradient(-70deg, $yellow, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    // background-color: white;
    position: relative;
    margin-top: 75px;
    border-radius: 30px 30px 0 0;
    color: rgb(59, 59, 59);
    // padding: 50px 60px 0 60px;
    & h1 {
        text-align: center;
        display: block;
        font-size: 3.5em;
        line-height: 1em;
    }
}

.footer {
    &_text {
        // margin-top: 30px;
        padding: 20px;
        text-align: center;
        color: rgb(218, 218, 218);
    }
}

.social {
    text-align: center;
    margin-top: 1em;
    &_buttons {
        margin-top: 5px;
        list-style-type: none;
        & li {
            height: 30px;
            width: 30px;
            display: inline-block;
            & img {
                fill: $yellow;
                height: 100%;
                width: 100%;
            }
        }
        &-first {
            // background-color: $yellow;
        }
        &-mid {
            margin: 0 5px;
            // background-color: $orange;
        }
        &-last {
            // background-color: $red;
        }
    }
}

.ks {
    background: -webkit-linear-gradient(-70deg, $yellow, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divider {
    width: 80%;
    height: 3px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(162, 181, 194, 0.25);
    border-radius: 100px;
}

.healco {
    & .hero {
        width: 100%;
        & h1 {
            color: white;
        }
        &_inner {
            background-image: linear-gradient(
                to bottom right, #56F3D2, #07B08C
            );
            border-radius: 0 0 30px 30px;
            padding: 6em 0;
        }
    }
    & .subphrase {
        width: 75%;
        color: white;
        margin: auto;
        font-size: 1em;
        margin-top: 1em;
    }
    & .work {
        &_graphics {
            & img {
                width: 100%;
                box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
                border-radius: 30px;
                margin-top: .5em;
                margin-bottom: .5em;
                &:nth-child(1) {
                    margin-top: 1.5em;
                }
            }
        }
        &_box {
            &-0 {
                display: none;
            }
            &-1 {
                display: none;
            }
            &-2 {
                display: none;
            }
            &-image {

            }
        }
        margin-top: 0;
        &_image {
        }
        &_gallery {
            display: none;
            margin-top: 2em;
            margin-bottom: 1em;
            width: 100%;
            height: 500px;
            
            &-box {
                box-shadow: unset;
                margin: unset;
                padding: 0;
                width: 100%;
                padding-top: 100%;
            }
        }
    }
    & .info {
        margin-top: 4em;
        &_flex-box p {
            margin-top: 2em;
            &.solution {
                margin-top: unset;
            }
        }
    }
    & .info.infomargin {
        margin-top: 0;
    }

}

.display {
    width: 100%;
    border-radius: 30px;
    margin-top: .5em;
    margin-bottom: .5m;
    &-0 {
        margin-top: 2em;
    }
}

.rugsusa {
    & .hero {
        &_inner {
            background-image: linear-gradient(to bottom right, #E3376F, #80193A);
            & h1 {
                font-size: 3.155em;
            }
        }
    }
    & .work {
        margin-top: 0;
        &_gallery {
            &-box {
                box-shadow: unset;
                padding: 0;
            }
        }
    }
    & .info.infomargin {
        margin-top: 0;
    }
}

.prob_sol {
    &u {
        font-weight: bold;
    }
    margin-top: 3em;
}

.wg_top {
    margin-bottom: 2em;
}

.slightbold {
    font-weight: 600;
}

// .solution {
//     margin-top: 2em !important;
// }

.problem {

}

.problem, .solution, .overview {
    // box-shadow: 0 0 30px rgba(162, 181, 194, 0.40);
    padding: 1em;
    border-radius: 30px;
    background-color: white;
}

@media only screen and (min-width: 500px) {
    .hero {
        &_inner {
            & h1 {
                font-size: 3em;
                line-height: 1.1em;
            }
        }
    }
}

@media only screen and (min-width: 662px) {
    .info {
        &_head {
            & h3 {
                margin: auto;
            }
        }
    }
}

@media only screen and (min-width: 780px) {
    .healco {
        & .work {
            &_graphics {
                & img {
                    width: 49%
                }
                &-left {
                    margin-right: 1%;
                }
                &-right {
                    margin-left: 1%;
                }
            }
            &_box {
                &-mobile {
                    display: none;
                }
                &-0 {
                    grid-column-start:1;
                    grid-column-end:3;
                    grid-row-start:1;
                    grid-row-end:7;
                    background-color:blue;
                    background-image: url("../images/landing2.png");
                    background-size: cover;
                    display: block;
                }
                &-1 {
                    grid-column-start: 4;
                    grid-column-end:7;
                    grid-row-start:1;
                    grid-row-end: 3;
                    background-color: coral;
                    background-image: url("../images/flow.png");
                    background-size: cover;
                    display: block;
                }
                &-2  {
                    grid-column-start: 4;
                    grid-column-end:7;
                    grid-row-start:4;
                    grid-row-end: 7;
                    background-color: black;
                    background-image: url("../images/dashboard.png");
                    background-size: cover;
                    display: block;
                }
            }
            margin-top: 0;
            &_image {
            }
            &_gallery {
                margin-top: 2em;
                margin-bottom: 1em;
                width: 100%;
                height: 500px;
                display:grid;
                grid-template-columns: 24% 24% 2em 24% 24%;
                grid-template-rows: 24%  24% 2em 24% 24% auto;
                
                &-box {
                    box-shadow: unset;
                    margin: unset;
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 850px) {

    .fl_remove {
        display: unset;
    }

    .hello {
        font-size: 1.25em;
    }

    .hero {
        &_inner {
            & h1 {
                font-size: 5em;
                line-height: 1.1em;
            }
        }
    }
    .work {
        &_gallery {
            display: flex;
            &-link {
                &-left {
                    margin-right: 1em;
                }
                &-right {
                    margin-left: 1em;
                }
            }
            &-box {
                &-left {
                    margin-right: 1em;
                }
                &-right {
                    margin-left: 1em;
                }
            }
        }
    }
    .info {
        &_head {
            h3 {
                margin: auto;
            }
            & .ihelp {
                width: 90%;
                font-size: 1.75em;
            }
        }
        &_flex {
            display: flex;
            &-box {
                width: 33%;
                margin-top: 0;
                & h4 {
                    margin-top: 1em;
                }
            }
        }
        &_box {
            &-1 {
                margin-left: 2em;
                margin-right: 2em;
            }
        }
    }
    .healco {
        .subphrase {
            font-size: 1.75em;
        }
        & .work {
            &_gallery {
                &-box {
                    padding: 0;
                }
            }
        }
        & .info {
            &_flex {
                &-box {
                    width: 100%;
                }
            }
        }
    }
    .divider {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}

@media only screen and (min-width: 1092px) {
    .hello {
        width: 915px;
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1132px) {
    .info {
        &_head {
            & .ihelp {
                width: 854px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .hero {
        width: 1007px;
        margin: auto;
    }
    .info {
        &_head {
            & .ihelp {
                font-size: 2em;
            }
        }
    }
}

@media only screen and (min-width: 1500px) {
    #container {
        width: 1262px;
    }
}


@keyframes bounceIn {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1.03);
    }
}

@keyframes bounceOut {
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.03);
    }
}


