*, h1, h2, h3, h4, h5, h6, p, ol, li, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

#container {
  width: 85%;
  margin: auto;
}

.info {
  background-color: white;
  border-radius: 30px;
  margin-top: 6em;
  color: #373737;
}

.info_head {
  text-align: center;
}

.info_head h3 {
  font-size: 1.5em;
}

.info_flex-box {
  margin-top: 2em;
  -webkit-box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
          box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
  background-color: white;
  padding: 2em;
  border-radius: 30px;
}

.info_flex-box h3 {
  font-size: 1.5em;
}

.info_flex-box h4 {
  margin-top: 1.25em;
  font-size: 1.5em;
}

.info_flex-box p {
  margin-top: .25em;
}

a {
  color: white;
}

body {
  background-color: white;
  font-family: "Poppins";
}

.dash {
  margin: 0 2px !important;
}

.hero {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 0 0 30px 30px;
}

.color {
  width: 100%;
  height: 2px;
}

.color_yellow {
  background-color: #F9AF1F;
}

.color_orange {
  background-color: #F96D1F;
}

.color_red {
  background-color: #F91F60;
}

.work {
  color: white;
  margin-top: 50px;
}

.work_image {
  width: 100%;
  border-radius: 30px;
}

.work_gallery {
  display: block;
}

.work_gallery-link {
  width: 100%;
}

.work_gallery-box {
  border-radius: 30px;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
          box-shadow: 0 0 30px rgba(162, 181, 194, 0.4);
  margin-top: 2em;
  padding: 20px;
}

.work_gallery-box-line {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}

.work_gallery-box-image {
  width: 100%;
  display: block;
  border-radius: 30px;
  margin: auto;
}

.work_gallery-box-text {
  color: #373737;
  bottom: 0;
  padding: 1em 0 .5em 1em;
}

.work_gallery-box-text h6 {
  font-weight: 300;
}

.work_gallery-box-text p {
  margin-top: 20px;
  color: #A8A8A8;
}

.work_gallery-box .number {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
}

.work_gallery-box .num-1 {
  color: #F9AF1F;
}

.work_gallery-box .num-2 {
  color: #F96D1F;
}

.work_gallery-box .num-3 {
  color: #F91F60;
}

.work_box-0 .work_gallery-box-line {
  background-color: #F9AF1F;
}

.work_box-1 .work_gallery-box-line {
  background-color: #F96D1F;
}

.work_box-2 .work_gallery-box-line {
  background-color: #F91F60;
}

.work_box-3 p {
  color: white;
}

.aboutme {
  width: 100%;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F9AF1F), to(#F91F60));
  background-image: linear-gradient(to bottom right, #F9AF1F, #F91F60);
  color: white;
  border-radius: 30px;
  margin-top: 50px;
  text-align: center;
}

.aboutme_text {
  padding: 1em;
  padding-top: 0;
  margin: auto;
}

.aboutme_text-line {
  margin: auto;
  width: 200px;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F9AF1F), to(#F91F60));
  background-image: linear-gradient(to bottom right, #F9AF1F, #F91F60);
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutme_text p {
  line-height: 30px;
}

.aboutme .contactme {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #373737;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
}

footer {
  background-color: white;
  position: relative;
  border-radius: 30px 30px 0 0;
  margin-top: 50px;
  color: #3b3b3b;
}

footer h1 {
  text-align: center;
  display: block;
  font-size: 3.5em;
  line-height: 1em;
}

.footer_text {
  padding: 20px;
  text-align: center;
  color: #dadada;
}

.social {
  text-align: center;
  margin-top: 1em;
}

.social_buttons {
  margin-top: 5px;
  list-style-type: none;
}

.social_buttons li {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.social_buttons li img {
  fill: #F9AF1F;
  height: 100%;
  width: 100%;
}

.social_buttons-mid {
  margin: 0 5px;
}

.ks {
  background: -webkit-linear-gradient(-70deg, #F9AF1F, #F91F60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  width: 80%;
  height: 3px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgba(162, 181, 194, 0.25);
  border-radius: 100px;
}

.healco .work {
  margin-top: 0;
}

.healco .work_gallery-box {
  padding: 0;
}

.healco .info.infomargin {
  margin-top: 0;
}

@media only screen and (min-width: 850px) {
  .work_gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work_gallery-link-left {
    margin-right: 1em;
  }
  .work_gallery-link-right {
    margin-left: 1em;
  }
  .info_head h3 {
    width: 750px;
    margin: auto;
  }
  .info_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .info_flex-box {
    margin-top: 0;
  }
  .info_flex-box h4 {
    margin-top: 1em;
  }
  .info_box-1 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .healco .work_gallery-box {
    padding: 0;
  }
  .healco .info_flex-box {
    width: 100%;
  }
  .divider {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}
/*# sourceMappingURL=main.css.map */